<a href="https://colab.research.google.com/github/HyejeongLee/TA_Python-I/blob/master/%5BPythonI%5D200417.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### #1.

In [58]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True (i.e., Boolean).
a_list = [1,"hello",[1,2,3],True]

# Find the value stored at index 1 of a_list.
print(a_list[1])
print("----------")

# Retrieve the elements stored at index 1, 2 and 3 of a_list.
for i in range(1,4):
  print(a_list[i])
  
print("----------")

# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a']
B = [2, 1, 'd']

print(A+B)

hello
----------
hello
[1, 2, 3]
True
----------
[1, 'a', 2, 1, 'd']

### #2.

In [59]:
soundtrack_dic = {"Thriller": "1982", "Back in Black": "1980","The Dark Side of the Moon": "1973", "The Bodyguard": "1992",
                  "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", 
                  "Saturday Night Fever": "1977", "Rumours": "1977"}

#write a code to display all of the keys
print(soundtrack_dic.keys())

#write a code to display all of the values
print(soundtrack_dic.values())

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])
dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

### #3.

In [60]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set

li = ['rap','house','electronic music', 'rap']

li_set = set(li)
print(type(li_set))
print("-------")

#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)
#set --> removing duplicates
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

print(sum(A))
print(sum(B))
print("-------")

#Create a new set album_set3 that is the union of album_set1 and album_set2: album_set1 = set(["Thriller", 'AC/DC', 'Back in Black']) album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])]
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black']) 
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
print(album_set3)
print("-------")

#Find out if album_set1 is a subset of album_set3
if album_set1.issubset(album_set3):
  print("True")
else:
  print("False")

<class 'set'>
-------
6
3
-------
{'Thriller', 'Back in Black', 'The Dark Side of the Moon', 'AC/DC'}
-------
True

### #4-1.

In [61]:
#when the Artist name is 'Michael", print our the genre of the artist

Dict ={"Artist": "Michael", "Genre": "R&B", "Sales": 10000}

def find_genre(artist):
  if(Dict["Artist"])==artist:
    print(Dict["Genre"])
  else: 
    print("None")

find_genre("Michael")

R&B

### #4-2.

In [62]:
#Write a Python program to convert temperatures to and from celsius, fahrenheit (Kelvin temperature limitation is -273cencius, e.g., declare your value at -50000, 50000)

degree = input("Select your degree (F or C) :   ")
temperature = float(input("Input your temperature:   "))

#change to upper case if user put lower case
degree = degree.upper()

if degree == 'C':
  F = round((temperature * 9/5) + 32)
  print("Your temperature in F is ",F,"F")

elif degree == 'F':
  C = round((temperature - 32) * 5/9)
  print("Your temperature in C is ",C,"C")

else :
  print("select your temperature degree only F or C")

Select your degree (F or C) :   C
Input your temperature:   35
Your temperature in F is  95 F

In [63]:
#Write a Python programme to count how many even numbers and odd number is a list (e.g., L = [1, 2, 3, 5, 9, 31, 28, 91])

L = [1,4,2,5,33,3,55,7,8]
odd = []
even = []

for i in range(len(L)):
  if L[i]%2 == 1:
    odd.append(L[i])
  else:
    even.append(L[i])

print(odd)
print(even)
print('Odd Numbers',len(odd))
print('Even Numvers',len(even))

[1, 5, 33, 3, 55, 7]
[4, 2, 8]
Odd Numbers 6
Even Numvers 3

In [64]:
#Write a Python program, extending the codes from Question 2 in Assignment #4-2, how many prime numbers (소수) are in the list [Note that if you solve this problem, you will win the Fields Medal (a kind of Nobel prize in Maths)

L = [1,4,2,5,33,3,55,7,8]
Primenum = []

def Find_Prime(i):
  if i < 2:
    return False
  for j in range(2,i):
    if i % j is 0:
      return False
  else:
    Primenum.append(i)

for i in L:
  Find_Prime(i)

print(Primenum)
print(len(Primenum))

[2, 5, 3, 7]
4